@model Projet_Kolani.Models.Facture

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Facture des Achats Effectuées </h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MontantTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MontantTotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Proprietaire)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Proprietaire.ProprietaireId)
        </dd>
    </dl>
</div>
@* <div>
    <a asp-action="GeneratePdf" asp-route-id="@Model.FactureId">Télécharger la facture au format PDF</a>
</div> *@

<div>
    <form asp-action="GeneratePdf" asp-route-id="@Model.FactureId" method="post">
        <button type="submit" class="btn btn-primary">Télécharger la facture en PDF</button>
    </form>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.FactureId">Edit</a> |
    <a asp-action="Index" class="btn btn-primary"> Retour </a>
</div>
