@model IEnumerable<Projet_Kolani.Models.Reglement>

@{
    ViewData["Title"] = "Index";
}

<h1>Page De Paiement ou Reglement </h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New Reglement </a>
</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Montant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Facture)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Montant)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Facture.FactureId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ReglementId" class="btn btn-warning">Modifier</a> |
                <a asp-action="Details" asp-route-id="@item.ReglementId" class="btn btn-info">Détail</a> |
                <a asp-action="Delete" asp-route-id="@item.ReglementId" class="btn btn-danger">Supprimer</a>
            </td>
        </tr>
}
    </tbody>
</table>
